app = "warriorbot-backend"
primary_region = "ams"

[build]
  dockerfile = "backend/Dockerfile"

[env]
  CORS_ALLOW_ORIGINS = "*"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1

[[services]]
  protocol = "tcp"

