services:
- type: web
  name: warriorbot-dashboard
  env: node
  plan: free
  buildCommand: npm install && npm run build
  startCommand: npx next start -p 3000
  envVars:
  - key: NEXT_PUBLIC_API_URL
    fromService:
      name: warriorbot-backend
      type: web
      envVarKey: RENDER_EXTERNAL_URL
- type: web
  name: warriorbot-backend
  env: docker
  plan: free
  dockerfilePath: backend/Dockerfile
  envVars:
  - key: SECRET_KEY
    generateValue: true
  - key: ADMIN_SECRET
    generateValue: true
  - key: DATA_KEY
    generateValue: true
  - key: CORS_ALLOW_ORIGINS
    value: "*"
  - key: DATABASE_URL
    fromDatabase:
      name: warriorbot-db
      property: connectionString
  - key: ML_SERVICE_URL
    fromService:
      name: warriorbot-ml
      type: web
      envVarKey: RENDER_EXTERNAL_URL
- type: web
  name: warriorbot-ml
  env: docker
  plan: free
  dockerfilePath: ml_service/Dockerfile
- type: pserv
  name: warriorbot-db
  env: postgres
  plan: free
  postgresMajorVersion: "16"
